.uploadPage{
    width: 100%;
    display: flex;
    justify-content: center;
    .uploadContain{
        margin: 20px 10px 30px 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 40%;
        .uploadTitle{
            text-transform: uppercase;
            margin-bottom: 20px;
            font-weight: bold;
            font-size: 20px;
            color: var(--primary);
            letter-spacing: 2.5px;
            word-spacing: 5px;
        }

        .uploadContent{
            background-color: rgba($color: #fff, $alpha: 0.8);
            padding: 30px;
            box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px, rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
            width: 100%;

            .inputBox{
                display: flex;
                flex-direction: column;
                margin-bottom: 16px;
                width: 100%;

                label{
                    font-weight: 500;
                    letter-spacing: 1.5px;
                    margin-bottom: 4px;
                }

                .inputName, .inputPrice, .inputType, .inputTypeSub{
                    padding: 6px 12px;
                    border: 1px solid transparent;
                    outline: none;
                    border-bottom: 2px solid #ccc;
                    transition: .4s;

                    &:focus{
                        border-bottom: 2px solid var(--primary);
                    }
                }

                .inputImg{
                    padding: 6px 12px;
                }
            }
            
            .submitForm{
                display: flex;
                justify-content: center;
                margin: 10px 0;

                .uploadBtn{
                    padding: 8px 20px;
                    font-weight: 600;
                    border: 1px solid transparent;
                    outline: none;
                    border-radius: 5px;
                    background-color: var(--primary);
                    color: #fff;
                    cursor: pointer;
                    transition: .4s;

                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
        }
    }
}

